@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: syne, sans-serif;
    font-weight: 200;
    color: #d0dad4;
}

h1 {
    letter-spacing: 1px;
    
}

header {
    height: 70px;
    background-color: #0f0f0f;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #dc4d40;
}

#logo:hover {
    -webkit-text-fill-color: #d0dad4;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}
#logo #menu {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #dc4d40;
    border-bottom: 1px solid #dc4d40;
}

#home {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #d0dad4;
    text-shadow:-0.07em 0.05em 0.02em #dc4d40;
    
}

#hero-image {
    width: 100%;
    height: 500px;
    background: url(../images/hero-image.webp) no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 230%;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 50%;
    height: 15%;

    padding-top: 5px;
    padding-left: 5px;

    bottom: 60%;
    left: 10%;

    position: absolute;
}

#join-button button {
    font-family: syne, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: 700;
    color: #dc4d40;

    width: 25%;
    height: 10%;
    
    border-radius: 30px;

    background-color: #d0dad4;

    bottom: 200px;
    right: 100px;

    box-shadow: -0.2em 0.2em 0.02em #dc4d40;

    position: absolute;
}

#join-button button:hover {
    color: #d0dad4;

    background-color: #dc4d40;

    box-shadow: -0.2em 0.2em 0.02em #d0dad4;
}

#about-us {
    height: 600px;
    width: 100%;
    background-color: #0f0f0f;
}

#about-us-heading {
    font-size: 300%;
    text-transform: capitalize;
    text-align: center;

    padding-top: 20px;
    
    margin-bottom: 30px;
}

#left-about {
    font-size: 100%;
    width: 35%;
    height: 30%;
    
    float: left;
    
    margin-top: 5%;
    margin-left: 5%;
}

#about-images-outer {
    width: 25%;
    height: 80%;

    padding: 5px;

    line-height: 0;
    column-count: 2;
    column-gap: 0;

    margin-left: 55%;
    margin-bottom: 5%;
}

#about-images-outer img {
    width: 100%;
}